.links:first-child {
    padding: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}
.links {
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: auto;
    box-shadow: 0px 0px 20px #d3d3d3;
    display: grid;
    grid-column-gap: 50px;
    text-align: center;
}
.links ul {
    padding-left: 10px;
}
.links ul li {
    margin: 20px 0px;
    width: 100%;
}
.links > ul > h3 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.links > img {
    border: 1px solid #333246;
    width: 100%;
    height: auto;
}
.links > #carregar-mais-supermercados {
    margin-top: 10px;
}
.ponto-ajuda {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background-color: #333246;
    transform: translate(-50%,-50%);
    transition: all 1s;
    overflow: hidden;
    animation-name: identifier;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 5px;
    text-align: left;
    z-index: 1;
}
.links > p {
    padding: 10px;
}
@keyframes identifier {
    0% {
        box-shadow: 0px 0px 15px 5px#ff0000d5;
    }
    50% {
        box-shadow: 0px 0px 15px 10px#ff0000d5;
    } 
    90% {
        box-shadow: 0px 0px 15px 5px#ff0000d5;
    }
}
.ponto-ajuda:hover {
    min-width: 250px;
    left: 50%;
    transform: translate(-10%,-90%);
    width: 400px;
    height: 200px;
    animation-name: none;
    z-index: 5;
}
.ponto-ajuda > p {
    transition: all 1s;
    color: wheat;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: auto;
    font-size: 20px;
}
@media screen and (max-width: 1200px) {
    .links {
        width: 100%;
    }
    .links:first-child {
        grid-template-columns: 1fr 1fr;
    }
    #supermercado-detalhes1:hover {
        transform: translate(-15%,-90%);
    }
    #supermercado-detalhes1-1:hover {
        transform: translate(-50%, -90%);
    }
    #supermercado-detalhes1-2:hover {
        transform: translate(-73%, -90%);
    }
    #produto-detalhes1:hover {
        transform: translate(-50%, -90%);
    }
    #produto-detalhes1-1:hover {
        transform: translate(-15%, -90%);
    }
    #produto-detalhes1-2:hover {
        transform: translate(-30%, -90%);
    }
    #carrinho-detalhes1:hover {
        transform: translate(-95%, -90%);
    }
    #carrinho-detalhes1-1:hover{
        transform: translate(-90%, -90%);
    }
    #carrinho-saldo:hover {
        transform: translate(-90%, -80%);
    }
}
@media screen and (max-width: 650px) {
    .links:first-child {
        grid-template-columns: 1fr;
    }
}
@media  screen and (max-width: 415px) {
    .ponto-ajuda:hover {
        width: 300px;
    }
    .ponto-ajuda:hover > p {
        left: 0px;
        font-size: 17px;
    }
}
@media screen and (max-width: 315px){
    .ponto-ajuda:hover {
        width: 250px;
    }
    .ponto-ajuda:hover > p {
        left: 0px;
        font-size: 15px;
    }
}