:root{
    --tamanhoFundo:200px;
}
.carrinho-Ajuda {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
}
.carrinho-Ajuda > img {
    padding-top: 20px;
    height: 500px;
}
@media screen and (max-width:950px) {
    .carrinho-Ajuda {
        font-size: 20px;
    }
    .carrinho-Ajuda > img {
        position: relative;
        height: 100%;
        width: 100%;
    }
}