#contato {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.integrante {
    width: 400px;
    border-radius: 5px;
    height: 300px;
    margin-bottom: 200px !important;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 2s;
}
.nome-integrante {
    width: 100%;
    height: auto;
}
.nome-integrante > p {
    padding: 5px;
}
.foto-integrante{
    width: 100%;
    height:300px;
    overflow: hidden;
}
.foto-integrante  > img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.integrante:hover {
    width: 400px;
    height: 500px;
    overflow: visible;
    margin-bottom: 0px !important;
}
.nome-integrante > p{
    padding-left: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-weight: 500;
    font-size:17px;
}