#contato {
    margin-top: 20px;
    width: 100%;
    box-sizing: content-box;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
/* elemento onde fica a foto dos integrantes */
.card {
    margin: 50px;
    margin-bottom: 210px;
    position: relative;
    width: 350px;
    height: 190px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 30px 50px rgb(190, 190, 190);
    transition: .5s;
}
.data {
    overflow: hidden;
    transition: .3s;
    opacity: 0;
}
.img {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgb(190, 190, 190);
    overflow: hidden;
    transition: .5s;
}
.img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card .content .details {
    transform: translateY(70px);
    padding: 40px;
    text-align: center;
    width: 100%; 
    transition: .5s;
}
.details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
@media screen and (min-width:951px) {
    .card:hover {
        height: 350px;
        margin-bottom: 50px;
    }
    .card:hover .img {
        width: 220px;
        height: 220px;
    }
    .card:hover .content .details {
        transform: translateY(0px);
        /* overflow: visible; */
    }
    .card:hover .data {
        opacity: 100%;
        transition: 1s;
    }
}
@media screen and (max-width:950px) {
    .card {
        height: 350px;
        width: 300px;
        min-width: 250px;
        margin-bottom: 50px;
    }
    .card .img {
        width: 220px;
        height: 220px;
    }
    .card .content .details {
        transform: translateY(0px);
        padding: 10px;
        padding-bottom: 20px;
    }
    .card .data {
        opacity: 100%;
        transition: 1s;
    }
}