
.corpoSlide::-webkit-scrollbar{
    height: 10px;
}
.corpoSlide::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius:5px;
}
.titulo-slide {
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-weight: 900;
    color: #49b5d6;
    font-size: 40px;
}
.corpoSlide {
    z-index: 10;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    box-shadow: inset 0px 5px 5px -5px #303030, inset 0px -5px 5px -5px #303030;
}
#conjuntoSlide {

    height: 742px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    max-width:2000px;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
#conjuntoSlide:not(:first-child) {
    margin-top: 180px;
}
.botoes-slide{
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.botoes-slide > input {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 1px solid #909090;
    cursor: pointer; 
    border-radius: 50%;
    background-color: transparent;
}
/* elemento do slide */
.conjunto {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 20px #ebebeb;
    border-top-left-radius: 25px;
    width:25vw;
    height: auto;
    min-width: 400px;
    max-width: 450px;
    z-index: 1;
}
.conjunto:not(:first-child){
    margin-left: 10px;
}
.dado-supermercado > input {
    background-color: var(--corBtn);
    padding-top: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size:15px;
    margin:20px 20px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}
.Supermercado-img {
    padding: 0;
    width: 100%;
    border-top-left-radius: 20px;
    overflow: hidden;
    height: auto;
    position: relative;
}
.Supermercado-img > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.Supermercado-img > h2{
    position: absolute;
    top:90%;
    transform: translateY(-100%);
    background-color:white;
    padding:10px;
    border-left-color: transparent;
}
.dado-supermercado {
    height: auto;
    width: 90%;
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(85, 85, 85);
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.dado-supermercado > p {
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:0px;
    margin-bottom: 10px;
}
.dado-supermercado.dado{
    font-weight: 900;
    font-size:19px;
}
@media screen and (max-width:950px) {
    .corpoSlide::-webkit-scrollbar{
        height: 7px;
    }
    #conjuntoSlide {
        padding: 2px;
    }
    .titulo-slide{
        font-size: 30px;
    }
    .Supermercado-img > h2 {
        font-size: 20px;
        padding: 3px;
    }
    .conjuntoSlide {
        overflow: hidden;
    }
    .corpoSlide > .conjunto {
        padding: 5px;
    }
    .dado-supermercado > p {
        font-size: 15px;
    }
    .dado-supermercado > input {
        margin:5px 5px;
    }
}
@media screen and (max-width: 500px) {
    .conjunto {
        min-width: 300px;
    }
}
@media screen and (max-width: 300px) {
    .conjunto {
        min-width: 250px;
    }
}