
.corpoSlide::-webkit-scrollbar{
    height: 10px;
    
}
.corpoSlide::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius:5px;
}
.corpoSlide {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 10px;
}

.corpoSlide > img {
    padding: 10px;
}
.titulo {
    width: 100%;
    height: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;
    color: var(--corTexto);
    font-size: 40px;
}
#conjuntoSlide {
    margin-top:180px;
    height: auto;
    padding: 50px;
    border: 1px solid #adedff;
    box-shadow: 0px 0px 10px #d8f7ff;
    box-sizing: border-box;
    max-width:2000px;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
.botoes-slide{
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.botoes-slide > input[type="button"] {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 1px solid #909090;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
}

.conjunto {
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #303030;
    border-top-left-radius: 25px;
    user-select: none;
    height: auto;
    cursor: pointer;
}
.Supermercado-img {
    padding: 0;
    width: 25vw;
    border-top-left-radius: 20px;
    overflow: hidden;
    height: auto;
}
.Supermercado-img > img {
    width: 100%;
    height: auto;
}
.nome-supermercado {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.nome-supermercado > h1 {
    font-size: 25px;
    text-align: center;
}
.nome-supermercado > h2 {
    font-weight: 500;
    font-size: 17px;
    text-align: left;
}
@media screen and (max-width:950px) {
    #conjuntoSlide {
        padding: 2px;
    }
    .titulo{
        font-size: 30px;
    }
    .Supermercado-img {
        width: 35vh;
    }
    .conjuntoSlide {
        overflow: hidden;
    }
    .corpoSlide > .conjunto {
        padding: 5px;
    }
    .nome-supermercado > h1 {
        font-size: 17px;
    }
    .nome-supermercado > h2 {
        font-size: 15px;
    }
}