.Login {
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    height: 100vh;
    background-image: url("../img/login-1.jpg");
    background-size: center center cover;
    background-repeat: no-repeat;
}
.formulario-login {
    transition: margin 2s;
    width: 50%;
    height: auto;
    min-height: 250px;
    background-color: rgba(0, 0, 0, 0.555);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.para-preencher {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.para-preencher:not(:first-child) {
    margin-top: 50px;
}
.formulario-login > button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.para-direita {
    transition: all 2s;
    margin-left: 100px;
    opacity: 0;
}
@media  screen and (max-width: 950px) {
    .formulario-login {
        width: 70%;
    }
}
@media screen and (max-width: 750px) {
    .formulario-login {
        width: 90%;
    }
}
@media screen and (max-width: 550px) {
    .formulario-login {
        width: 100%;
    }
}