
.cab {
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    background-size: 100%;
    max-width:2000px;
    position: relative;
    left: 50%;
    justify-content:center;
    align-items: center;
    transform: translateX(-50%);
    
}
.menu {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), inset 0px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-color: rgba(51, 50, 70, 0.9);
    max-width:2000px;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    z-index: 1000;
}
.sub {
    width:  auto;
    padding: 10px;
    height: auto;
    max-width: 1200px;
    z-index:100;
    position: relative;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
}
.cab > img {
    height: 40px;
    padding: 3px;
    margin-left: 10px;
}
#carrinho{
    background-image: url(../img/carrinho1.png);
    background-position: center center ;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    min-height: 70px;
    min-width: 70px;
    position: fixed;
    right: 2vw;
    bottom: 5vh;
    z-index: 1000000;
    background-color:#00fffb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
}
.carrinhoAbre {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translate(-100%);
}
nav {
    position: relative;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}
nav > * {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    color: #00fff7;
    line-height: 50px;
    font-weight: bold;
    vertical-align: middle;
}
nav a::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    height: 1px;
    transform: translate(-50%);
    background-color: white;
    width: 0px;
    bottom: 5px;
    transition: width .3s;
}
nav a:hover::after {
    width: 100%;
}
.selecionado {
    text-shadow: 0px 0px 5px #64627c;
    color: #000000;
}
#icone {
    display: none;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;

}
#icone img {
    height: 80%;
    cursor: pointer;
}
.icon{
    display:none;
    padding-top:1px;
    height: 20px;
}
/* carrinho */
.fundoMenu {
    width: 0px;
    height: 0px;
    position: fixed;
    z-index: 10000;
    background-color: #000000;
    opacity: 0;
    transition: opacity .5s;
}
#menuCarrinho{
    width: 100%;
    height: 100vh;
    min-width: 250px;
    max-width: 400px;
    position: fixed;
    background-color:white;
    left: 100%;
    transition:opacity .5s, transform .5s;
    z-index: 100000;
}
.fundoMenu.fundoCarrinho{
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
}
.headerCarrinho {
    border-bottom: 2px solid #e7e7e7;
    padding: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}
.bodyCarrinho {
    height: 90%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.tituloCarrinho {
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    background-image: linear-gradient(rgb(255, 0, 255),rgb(36, 36, 167));
    background-clip: text;
    color: transparent;
}
.semProdutos {
    font-size: 20px;
    width: 100%;
    height: auto;
}
.semProdutos > button {
    border-style: none;
    border-radius: 7px;
    width: 100px;
    color: white;
    background-color: #6257b1;
    height: 50px;
    cursor: pointer;
}
.semProdutos > button:hover {
    background-color: #77cae4;
}
.fundoCarrinho {
    display: block !important;
}
/**/
.imagem-background{
    position: relative;
    transition: background .2s;
    width: 100%;
    max-width: 2000px;
    max-height: 800px;
    height: auto;
    margin: 0 auto;
}
.imagem-background.sel1 {
    height: 80vh;
    min-height: 500px;
    background: url("../img/Tela-home.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-background.sel2 {
    height: 80vh;
    min-height: 500px;
    background: url("../img/Tela-Supermercado.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-background.sel3 {
    height: 80vh;
    min-height: 500px;
    background: url("../img/Tela-Produto.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-background.sel4 {
    height: 80vh;
    min-height: 500px;
    background: url("../img/Tela-Contato.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-background.sel5 {
    height: 80vh;
    min-height: 500px;
    background: url("../img/Tela-Ajuda.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-pagina {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 0px 20px black;
    text-transform: uppercase;
}
.descricao-pagina{
    font-size: 20px;
    text-align: center;
    width: 50%;
    position: relative;
    color: #afafaf;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:950px) {
    nav a::after {
        background-color: transparent;
        transform: 0s;
    }
    .texto-pagina {
        font-size: 30px;
    }
    .descricao-pagina {
        font-size: 15px;
    }
    .MenuAbre {
        height: 300px;
    }
    .cab  .inicioTxt{
        font-size: 13px;
        width: 100%;
    }
    #carrinho{
        height:45px;
    }
    nav > *{
        width: 100%;
        margin-right: 50px;
        padding: 2px;
        display: block;
        text-align: left;
    }
    nav {
        position: relative;
        height: 0px;
        top: 70px;
        overflow: hidden;
        transition: all .5s ;
    }
    #icone {
        display:block;

    }
    .sub{
        height: auto;
    }
    .icon{
        display: inline;
    }
    .semProdutos{
        font-size:15px;
    }
}