.tipos-produtos {
    margin-top: 200px;
    background-color: #ffffff;
    width: 100%;
    height:auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #dadada;
    transition: height 2s;
}
.tipos {
    text-align: center;
    height: 100%;
    text-align: center;
    color: var(--corTexto);
    transition: background-color .5s;
    cursor: pointer;
}
.tipos > p {
    margin-top: 20px;margin-bottom: 20px;
}
.tipos:hover {
    background-color: #203030;
}
.conjunto-prod {
    box-shadow: 0px 0px 10px #dadada;
    margin: 10px;
    box-sizing: border-box;
    width: 90%;
    height: auto;
}
.prod-img {
    width: 100%;
    height: auto;
}
.prod-img > img {
    width: 100%;
}
.prod-info {
    box-shadow: 0px 0px 10px #dadada;
    width: 100%;
    height: auto;
}
.grid-prod {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}
.filtro {
    display: none;
}
.filtro > p {
    margin-top: 20px;margin-bottom: 20px;
}
button > p {
    font-weight: 600;
    color: #ffffff;
}
@media screen and (max-width:950px) {
    .filtro {
        background-color: #203030;
        border-radius: 3px;
        border: 1px solid #203030;
        margin-top: 200px;
        display: none;
        width: 200px;
        text-align: center;
        height: 100%;
        text-align: center;
        color: var(--corTexto);
        cursor: pointer;
    }
    .filtro {
        
        display: block;
    }
    .tipos-produtos {
        position: absolute;
        margin-top: 20px;
        height:350px;
        grid-template-columns: 1fr;
    }
    .tipos-produtos.aberto{
        height: 0px;
    }
    .grid-prod {
        grid-template-columns: 1fr;
    }
}