.componente-ProdCar{
    display: flex;
    position:relative;
    width: 100%;
    min-height: 150px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.componente-ProdCar:not(:first-child){
    margin-top: 30px;
}
.ProdCar-img{
    position: relative;
    width:30%;
    height: 130px;
    min-width: 100px;
}
.ProdCar-img > img{
    padding: 2px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ProdCar-desc{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
}
.preco-prod{
    width: 100%;
    color: rgb(112 112 112);
}
.controle-prod{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.controle-prod > button{
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    color:white;
    background-color: rgb(68, 68, 143);
    border:none;
    border-radius: 5px;

}
.controle-prod > input[type="number"]{
    max-width: 150px;
    background-color: white;
    border:none;
}
.remove-ProdCar{
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(10%,-25%);
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 27px;
    height: 27px;
    text-align:center;
    cursor: pointer;
}
#exibirValorCar {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #303030;
    color: white;
}