
.tipos-produtos {
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    height:auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: height .7s;
}
.tipos {
    text-align: center;
    height: 100%;
    text-align: center;
    color: #49b5d6;
    transition: background-color 1s;
    cursor: pointer;
}
.tipos > p {
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tipos:hover {
    transition: background-color .1s;
    background-color: #203030;
}
.filtro {
    display: none;
}
.filtro > p {
    margin-top: 20px;
    margin-bottom: 20px;
}
button > p {
    font-weight: 600;
    color: #ffffff;
}
/* slide */
.base-slide-produto {
    position: relative;
    width: 100%;
}
.Slide-produto {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin:0 auto;
    margin-top: 0px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
/* elemento do slide */
.produto {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #b9b9b9;
    height: auto;
    --i: calc(20% - 16px);
    min-width: var(--i);
    max-width: var(--i);
    --j: calc(20% + 4px);
    --qt:5;
    --count:0;
    transition: margin .5s;
}
.produto:not(:last-child){
    margin-right: 20px;
}
.img-produto {
    padding: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}
.img-produto > img {
    padding-top: 10px;
    position: relative;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
}
.nome-produto {
    padding: 5px;
    padding-top: 0px;
    font-size: 17px;
    font-weight: 750;
    box-sizing: border-box;
    height: 100px;
}
.informacao-produto {
    padding: 5px;
    height: auto;
}
.informacao-produto > p{
    height: 40px;
    margin-top: 0px;
}
.diferenca-preco-produto {
    padding: 5px;
    font-size: 15px;
    height: auto;
    margin-top:5px;
    text-align: center;
    background-color: #363636;
}
.diferenca-preco-produto > p {
    border-radius: 3px;
    padding: 3px;
    background-color: #363636;
    margin-bottom: 20px;
}
.diferenca-preco-produto > button {
    height: auto;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #464646;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    border: none;
}
.diferenca-preco-produto > button:last-child {
    margin-bottom: 20px;
}
.diferenca-preco-produto > button > p {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #b1b1b1;
}
.botao-slide-produto {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.botao-slide-produto.left {
    background-image: url("../img/seta-para-a-esquerda.png");
    background-size: cover;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}
.botao-slide-produto.right {
    background-image: url("../img/seta-para-a-esquerda.png");
    background-size: cover;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%) rotate(180deg);
}
.maiorPreco {
    margin-right: 10px;
    color: #ff0000;
}
.menorPreco {
    margin-left: 10px;
    color: #00ce4f;
}
/* animação de carregamento */
.carregando {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 50%;
    margin-top: 200px;
    transform: translate(-50%);
    width: 100px;
    height: 40px;
}
.quadrado {
    width: 20px;
    height: 20px;
    background-color: #203030;
    animation-name: carregar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-delay: var(--sec);
}
@keyframes carregar {
    0% {
        margin-top: 10px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0px;
    }
}
@media screen and (max-width:1550px) {
    .produto{
        --i: calc(25% - 15px) ;
        --j: calc(25% + 4.8px) ;
        min-width: var(--i);
        --qt:4;
    }
}
@media screen and (max-width:1250px) {
    .produto{
        --i: calc(33% - 12px);
        --j: calc(33% + 8px) ;
        min-width: var(--i);
        --qt:3;
    }
}
@media screen and (max-width:1000px) {
    .produto{
        --i: calc(50% - 12px);
        --j: calc(50% + 7.5px) ;
        min-width: var(--i);
        --qt:2;
    }
}
@media screen and (max-width:950px) {
    .filtro {
        background-color: #203030;
        border-radius: 3px;
        border: 1px solid #203030;
        display: block;
        width: 200px;
        text-align: center;
        height: 100%;
        text-align: center;
        color: var(--corTexto);
        cursor: pointer;
    }
    .tipos-produtos {
        position: absolute;
        height:435px;
        grid-template-columns: 1fr;
    }
    .tipos-produtos.aberto{
        height: 0px;
    }
}
@media screen and (max-width:600px) {
    .Slide-produto{
        padding: 40px;
        width: 100%;
    }
    .produto{
        --i: calc(100%);
        --j: calc(100% + 40px) ;
        min-width: var(--i);
        --qt:1;
    }
    .produto:not(:last-child){
        margin-right: 40px;
    }
}
.produto:first-child{
    --espaco:0;
    margin-left:calc(var(--j) * var(--espaco));;
}