.rodape {
    margin-top:200px;
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    left: 50%;
    text-align: center;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    max-width: 2000px;
    padding-top:30px;
    padding-bottom:40px;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #6257b1;
}
.rodape > *{
    color: white;
    text-align: center;
}
.rodtxt {
    cursor: default;
    padding-left: 20px;
}
.rodLogo {
    cursor: default;
}
.rodLogo img{
    height: 150px;
}
.rod-titulo {
    cursor: default;
    text-align: left;
    margin-top: 30px;
}
.rodRedes img {
    margin-left: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: solid 1px black;
    border-radius: 50%;
    
}
#redeS {
    position: relative;
    display: flex;
    left:50%;
    flex-direction: row;
    transform: translateX(-50%);
    margin-top:10px;
}
.cop {
    border-top: 1px solid #594fa1;
    background-color: #6257b1;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}
.cop > p {
    color: #ffffff;
}
.text{
    margin-top:20px;
    text-align: left;
    padding-left: 20px;
}
@media screen and (max-width:950px) {
    .rodLogo img {
        padding-top:60px;
    }
    .texto1 {
        padding-top: 60px;
    }
    .rodape{
        grid-template-columns: 1fr;
        text-align: left;
    }
    .rodape > *{        
        width: 100%;
        height: 100%;
        font-size:14px;
        text-align: left;
    }
    .cop {
        font-size: 9px;
    }
    .rodRedes img {
        width:40px;
        height:auto;

    }
}