.supermercados-all {
    text-align: center;
    margin-top: 200px;
    height: 110px;
    width: auto;
}
.supermercados-all > button { 
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    height: 55px;
    margin-top: 30px;
    width: 50%;
    border-radius: 10px;
    border-style:unset;
    background-color: black;
    font-size: 25px;
    font-weight: 700;
    color:white;
}
@media screen and (max-width:950px) {
    .supermercados-all > button {
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 90%;
    }
    .supermercados-all {
        
        height: auto;
    }
}