.bodySuper{
    width: 100%;
    height: 1000px;

}
.super1 {
    width: 100%;
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}
.Stxt {
    padding-top:50px;
    height: auto;
    text-align: center;
    font-size: 40px;
    margin-top: 225px;
}
.Simg {
    padding: 150px;
    overflow: hidden;
}
.Simg > img {
    float: left;
    width: 100%;
    height: auto;
}

@media screen and (max-width:950px) {
    .super1 {
        width: 100%;
        height: 400px;
        display: block;
        box-sizing: border-box;
    }
    .Stxt {
        padding-top: 50px;
    }
}