:root{
    --corTexto:#ffffff;
    --corBtn:#49b5d6;
    --corFundoAzulClaro:#e9f3f7;
    --tamanhoFundo:200px;
    --Titulo: 160px;
    
}
*{
    user-select: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.subititulo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: auto; 
    margin-top: 100px;
    height: auto;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: #505050;
}
.titulo {
    background-color: #ffffff;
    margin-top: 25px;
    
}
.titulo > h1 {
    padding: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: var(--Titulo);
    color: #505050;
}
main {
    overflow: hidden;
    height:auto;
    min-height: 500px;
    width: 100%;
    padding:80px;
    box-sizing: border-box;
    max-width: 2000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Nunito', sans-serif;
}
@media screen and (max-width:950px) {
    main {
        padding:50px 2px;
    }
    .titulo > h1 {
        box-sizing: border-box;
        font-size: 30px;
        line-height:normal;
    }
    .subtitulo {
        font-size: 23px;
    }
}