:root{
    --corTexto:#2bc2bd;
    --corFundoAzulClaro:#e9f3f7;
}
main {
    height:auto;
    width: 100%;
    padding:80px;
    box-sizing: border-box;
    max-width: 2000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Nunito', sans-serif;
}
@media screen and (max-width:950px) {
    main {
        padding: 5px;
    }
}